<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="stylesheet" href="../css/nav.css">
  <link rel="stylesheet" href="../css/app.css">
  <link rel="stylesheet" href="../css/patient.css">
  <!-- The title must always reflect the current action or page -->
  <title>Bolatito Adebisi</title>
  <!-- Patient name goes here plus section of clerking -->
</head>

<body>
  <nav>
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-lg-2">
          <div class="emr-nav-dropdown">
            <div class="emr-current-view">
              <h6 class="emr-headers d-inline">Patients</h6>
              <i class="bi bi-caret-down-fill emr-icons"></i>
            </div>
            <div class="emr-other-views show">
              <p class="emr-other-view">Dashboard</p>
              <p class="emr-other-view">Patients</p>
              <p class="emr-other-view">Investigations</p>
            </div>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="emr-app-center emr-app-search">
            <!-- An input search bar goes here -->
            <div class="emr-icon-bg">
              <i class="bi bi-search emr-icons emr-center-icon"></i>
            </div>
            <input type="text" name="search" id="search" placeholder="Search">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="emr-app-toolbar">
            <!-- Icons appropriate for each screen show here -->
            <div class="emr-icon-bg">
              <i class="bi bi-file-earmark-medical-fill emr-icons emr-center-icon"></i>
              <i class="emr-icon-tooltip">History</i>
            </div>
            <div class="emr-icon-bg">
              <i class="bi bi-nut-fill emr-icons emr-center-icon"></i>
              <i class="emr-icon-tooltip">History Forms</i>
            </div>
            <div class="emr-icon-bg">
              <i class="bi bi-card-image emr-icons emr-center-icon"></i>
              <i class="emr-icon-tooltip">Examination</i>
            </div>
            <div class="emr-icon-bg selected">
              <i class="bi bi-gear-fill emr-icons emr-center-icon"></i>
              <i class="emr-icon-tooltip">Investigations</i>
            </div>
            <div class="emr-icon-bg">
              <i class="bi bi-lightbulb-fill emr-icons emr-center-icon"></i>
              <i class="emr-icon-tooltip">Assessment</i>
            </div>
            <div class="emr-icon-bg">
              <i class="bi bi-check-circle-fill emr-icons emr-center-icon"></i>
              <i class="emr-icon-tooltip">Treatment</i>
            </div>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="emr-app-center emr-app-auth-and-overflow">
            <!-- User details and other auth and app actions go here -->
            <div class="emr-app-auth-group emr-app-center">
              <div class="emr-icon-bg emr-icon-bg-light">
                <i class="bi bi-person-fill emr-icons emr-center-icon"></i>
              </div>
              <h6 class="emr-headers d-inline w-50">DR. JOHN</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <main>
    <div class="container-fluid">
      <div class="row g-0">
        <div class="col-lg-3 emr-sidebar emr-sidebar-l">
          <div class="emr-left-sidebar">
            <div class="emr-patients-sidebar">
              <div class="emr-patient-list-item clicked">
                <div class="emr-icon-bg emr-icon-bg-dark">
                  <!-- Insert age-appropriate icon here -->
                  <i class="bi bi-person-fill emr-center-icon"></i>
                </div>
                <div class="emr-patient-description">
                  <p class="emr-patient-name">Bolatito Adebisi</p>
                  <div class="emr-patient-biodata">
                    <p class="emr-patient-gender">F</p>
                    <p class="emr-separator">|</p>
                    <p class="emr-patient-age">39 yrs</p>
                    <p class="emr-separator">|</p>
                    <p class="emr-patient-diagnosis">Epilepsy</p>
                  </div>
                </div>
              </div>
              <div class="emr-patient-list-item">
                <div class="emr-icon-bg emr-icon-bg-dark">
                  <!-- Insert age-appropriate icon here -->
                  <i class="bi bi-person-fill emr-center-icon"></i>
                </div>
                <div class="emr-patient-description">
                  <p class="emr-patient-name">Aresejabata Araparegangan</p>
                  <div class="emr-patient-biodata">
                    <p class="emr-patient-gender">F</p>
                    <p class="emr-separator">|</p>
                    <p class="emr-patient-age">40 yrs</p>
                    <p class="emr-separator">|</p>
                    <p class="emr-patient-diagnosis">Epilepsy</p>
                  </div>
                </div>
              </div>
              <div class="emr-patient-list-item">
                <div class="emr-icon-bg emr-icon-bg-dark">
                  <!-- Insert age-appropriate icon here -->
                  <i class="bi bi-person-fill emr-center-icon"></i>
                </div>
                <div class="emr-patient-description">
                  <p class="emr-patient-name">Ernest Ofor</p>
                  <div class="emr-patient-biodata">
                    <p class="emr-patient-gender">M</p>
                    <p class="emr-separator">|</p>
                    <p class="emr-patient-age">54 yrs</p>
                    <p class="emr-separator">|</p>
                    <p class="emr-patient-diagnosis">Epilepsy</p>
                  </div>
                </div>
              </div>
              <div class="emr-patient-list-item">
                <div class="emr-icon-bg emr-icon-bg-dark">
                  <!-- Insert age-appropriate icon here -->
                  <i class="bi bi-person-fill emr-center-icon"></i>
                </div>
                <div class="emr-patient-description">
                  <p class="emr-patient-name">Idayat LAWANI</p>
                  <div class="emr-patient-biodata">
                    <p class="emr-patient-gender">F</p>
                    <p class="emr-separator">|</p>
                    <p class="emr-patient-age">42 yrs</p>
                    <p class="emr-separator">|</p>
                    <p class="emr-patient-diagnosis">Stroke</p>
                  </div>
                </div>
              </div>
              <div class="emr-patient-list-item">
                <div class="emr-icon-bg emr-icon-bg-dark">
                  <!-- Insert age-appropriate icon here -->
                  <i class="bi bi-person-fill emr-center-icon"></i>
                </div>
                <div class="emr-patient-description">
                  <p class="emr-patient-name">Bolatito Adebisi</p>
                  <div class="emr-patient-biodata">
                    <p class="emr-patient-gender">F</p>
                    <p class="emr-separator">|</p>
                    <p class="emr-patient-age">39 yrs</p>
                    <p class="emr-separator">|</p>
                    <p class="emr-patient-diagnosis">Epilepsy</p>
                  </div>
                </div>
              </div>
              <div class="emr-patient-list-item">
                <div class="emr-icon-bg emr-icon-bg-dark">
                  <!-- Insert age-appropriate icon here -->
                  <i class="bi bi-person-fill emr-center-icon"></i>
                </div>
                <div class="emr-patient-description">
                  <p class="emr-patient-name">Aresejabata Araparegangan</p>
                  <div class="emr-patient-biodata">
                    <p class="emr-patient-gender">F</p>
                    <p class="emr-separator">|</p>
                    <p class="emr-patient-age">40 yrs</p>
                    <p class="emr-separator">|</p>
                    <p class="emr-patient-diagnosis">Epilepsy</p>
                  </div>
                </div>
              </div>
              <div class="emr-patient-list-item">
                <div class="emr-icon-bg emr-icon-bg-dark">
                  <!-- Insert age-appropriate icon here -->
                  <i class="bi bi-person-fill emr-center-icon"></i>
                </div>
                <div class="emr-patient-description">
                  <p class="emr-patient-name">Ernest Ofor</p>
                  <div class="emr-patient-biodata">
                    <p class="emr-patient-gender">M</p>
                    <p class="emr-separator">|</p>
                    <p class="emr-patient-age">54 yrs</p>
                    <p class="emr-separator">|</p>
                    <p class="emr-patient-diagnosis">Epilepsy</p>
                  </div>
                </div>
              </div>
              <div class="emr-patient-list-item">
                <div class="emr-icon-bg emr-icon-bg-dark">
                  <!-- Insert age-appropriate icon here -->
                  <i class="bi bi-person-fill emr-center-icon"></i>
                </div>
                <div class="emr-patient-description">
                  <p class="emr-patient-name">Idayat LAWANI</p>
                  <div class="emr-patient-biodata">
                    <p class="emr-patient-gender">F</p>
                    <p class="emr-separator">|</p>
                    <p class="emr-patient-age">42 yrs</p>
                    <p class="emr-separator">|</p>
                    <p class="emr-patient-diagnosis">Stroke</p>
                  </div>
                </div>
              </div>
              <div class="emr-patient-list-item">
                <div class="emr-icon-bg emr-icon-bg-dark">
                  <!-- Insert age-appropriate icon here -->
                  <i class="bi bi-person-fill emr-center-icon"></i>
                </div>
                <div class="emr-patient-description">
                  <p class="emr-patient-name">Akande ABOLORE</p>
                  <div class="emr-patient-biodata">
                    <p class="emr-patient-gender">M</p>
                    <p class="emr-separator">|</p>
                    <p class="emr-patient-age">45 yrs</p>
                    <p class="emr-separator">|</p>
                    <p class="emr-patient-diagnosis">Migraine</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="emr-patients-timeline">
              <div class="emr-patients-timeline-bar text-center">
                <!-- This is a list of icons in the timeline bar -->
                <div class="emr-icon-bg emr-icon-bg-dark selected">
                  <i class="bi bi-info-circle emr-center-icon emr-timeline-bar-icons"></i>
                </div>
                <div class="emr-patients-timeline-visits">
                  <div class="emr-icon-bg emr-icon-bg-dark">
                    <i class="emr-center-icon emr-timeline-bar-icons">#10</i>
                  </div>
                  <div class="emr-timeline-visits-divider"></div>
                  <div class="emr-icon-bg emr-icon-bg-dark selected">
                    <i class="emr-center-icon emr-timeline-bar-icons">#9</i>
                  </div>
                  <div class="emr-timeline-visits-divider"></div>
                  <div class="emr-icon-bg emr-icon-bg-dark">
                    <i class="emr-center-icon emr-timeline-bar-icons">#8</i>
                  </div>
                  <div class="emr-timeline-visits-divider"></div>
                  <div class="emr-icon-bg emr-icon-bg-dark">
                    <i class="emr-center-icon emr-timeline-bar-icons">#7</i>
                  </div>
                  <div class="emr-timeline-visits-divider"></div>
                  <div class="emr-icon-bg emr-icon-bg-dark">
                    <i class="emr-center-icon emr-timeline-bar-icons">#6</i>
                  </div>
                  <div class="emr-timeline-visits-divider"></div>
                  <div class="emr-icon-bg emr-icon-bg-dark">
                    <i class="emr-center-icon emr-timeline-bar-icons">#5</i>
                  </div>
                  <div class="emr-timeline-visits-divider"></div>
                  <div class="emr-icon-bg emr-icon-bg-dark">
                    <i class="emr-center-icon emr-timeline-bar-icons">#4</i>
                  </div>
                  <div class="emr-timeline-visits-divider"></div>
                  <div class="emr-icon-bg emr-icon-bg-dark">
                    <i class="emr-center-icon emr-timeline-bar-icons">#3</i>
                  </div>
                  <div class="emr-timeline-visits-divider"></div>
                  <div class="emr-icon-bg emr-icon-bg-dark">
                    <i class="emr-center-icon emr-timeline-bar-icons">#2</i>
                  </div>
                  <div class="emr-timeline-visits-divider"></div>
                  <div class="emr-icon-bg emr-icon-bg-dark">
                    <i class="emr-center-icon emr-timeline-bar-icons">#1</i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="container-fluid">
      <div class="row g-0">
        <div class="offset-xl-3 col-xl-6">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-6">
                <div class="emr-card emr-biodata-summary-card">
                  <div class="emr-biodata-summary-top">
                    <div class="emr-biodata-name-and-icon d-inline-block">
                      <div class="emr-icon-bg emr-icon-bg-light emr-summary-icon-bg d-inline-block">
                        <!-- Insert age-appropriate icon here -->
                        <i class="bi bi-person-fill emr-center-icon emr-summary-icon"></i>
                      </div>
                      <div class="emr-biodata-summary-name ml-3 d-inline-block">
                        <p class="emr-biodata-summary-title">Mrs.</p>
                        <p class="emr-biodata-summary-first-name">Bolatito</p>
                        <p class="emr-biodata-summary-last-name">ADEBISI</p>
                      </div>
                    </div>
                    <div class="emr-summary-divider"></div>
                    <div class="emr-biodata-summary-other">
                      <p class="emr-biodata-summary-gender">Female</p>
                      <p class="emr-biodata-summary-age">39 yrs</p>
                    </div>
                  </div>
                  <div class="emr-biodata-summary-bottom">
                    <div class="emr-biodata-bottom-item">
                      <i class="bi bi-briefcase-fill emr-accent-icon"></i>
                      <p class="emr-biodata-bottom-text">Trader</p>
                    </div>
                    <div class="emr-biodata-bottom-item">
                      <i class="bi bi-person-fill emr-accent-icon"></i>
                      <p class="emr-biodata-bottom-text">YORUBA | CHRISTIANITY</p>
                    </div>
                    <div class="emr-biodata-bottom-item">
                      <i class="bi bi-geo-alt-fill emr-accent-icon"></i>
                      <p class="emr-biodata-bottom-text">12, Igwe Street, Mokola, Ibadan</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 emr-column">
                <div class="emr-quick-info">
                  <div class="emr-quick-info-top-item emr-quick-visits">
                    <p class="emr-quick-info-value">9</p>
                    <h6 class="emr-quick-info-category">VISIT(S)</h6>
                  </div>
                  <div class="emr-quick-info-divider"></div>
                  <div class="emr-quick-info-top-item emr-quick-comorbidity-1">
                    <p class="emr-quick-info-value">5 yrs</p>
                    <h6 class="emr-quick-info-category">HTN</h6>
                  </div>
                  <div class="emr-quick-info-divider"></div>
                  <div class="emr-quick-info-top-item emr-quick-comorbidity-2">
                    <p class="emr-quick-info-value">1 yr</p>
                    <h6 class="emr-quick-info-category">DM</h6>
                  </div>
                  <div class="emr-horizontal-divider">
                    <hr>
                  </div>
                  <div class="emr-quick-info-bottom-item emr-quick-drug-one">
                    <i class="bi bi-suit-heart-fill emr-accent-icon"></i>
                    <p class="emr-quick-info-drug-duration">3rd month/1 year</p>
                    <p class="emr-quick-info-drug-name">Carbamazepine</p>
                    <p class="emr-quick-info-drug-dosage">250mg Daily</p>
                  </div>
                  <div class="emr-plus-button">+</div>
                  <div class="emr-quick-info-bottom-item emr-quick-drug-two">
                    <i class="bi bi-suit-heart-fill emr-accent-icon"></i>
                    <p class="emr-quick-info-drug-duration">1st month/1 year</p>
                    <p class="emr-quick-info-drug-name">Sodium Valproate</p>
                    <p class="emr-quick-info-drug-dosage">50mg Daily</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="emr-quick-info-card">
                  <div class="emr-icon-bg emr-icon-bg-dark">
                    <i class="bi bi-file-earmark-medical-fill emr-icons emr-center-icon"></i>
                  </div>
                  <p class="emr-quick-info-card-title">Last Seen</p>
                  <p class="emr-quick-info-card-details">Thurs, 27th July, 2021</p>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="emr-quick-info-card emr-quick-info-card-2">
                  <div class="emr-icon-bg emr-icon-bg-dark">
                    <i class="bi bi-stopwatch-fill emr-icons emr-center-icon emr-accent-icon"></i>
                  </div>
                  <p class="emr-quick-info-card-title">Next Appointment</p>
                  <p class="emr-quick-info-card-details">Tues, 27th August, 2021</p>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="emr-quick-info-card emr-quick-info-card-3">
                  <div class="emr-icon-bg emr-icon-bg-dark">
                    <i class="bi bi-lightbulb-fill emr-icons emr-center-icon emr-accent-icon-2"></i>
                  </div>
                  <p class="emr-quick-info-card-title">Diagnosis</p>
                  <p class="emr-quick-info-card-details">Recurrent seizures secondary to falcine meningioma</p>
                </div>
              </div>
              <div class="col-12 emr-column">
                <p class="emr-section-header emr-card-headers">TIMELINE</p>
              </div>
              <div class="col-lg-6 emr-column">
                <div class="emr-chart emr-history-chart">
                  <h6 class="emr-chart-header">History: Seizures over Time</h6>
                  <div class="emr-coming-soon emr-card">
                    <p class="emr-coming-soon-text">coming soon</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 emr-column">
                <div class="emr-chart emr-examination-chart">
                  <h6 class="emr-chart-header">Examination: Power over Time</h6>
                  <div class="emr-coming-soon emr-card">
                    <p class="emr-coming-soon-text">coming soon</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 emr-column">
                <div class="emr-chart emr-investigation-chart">
                  <h6 class="emr-chart-header">Investigations: EEG Result</h6>
                  <div class="emr-coming-soon emr-card">
                    <p class="emr-coming-soon-text">coming soon</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 emr-column">
                <div class="emr-chart emr-management-chart">
                  <h6 class="emr-chart-header">Management: Drugs and Adjunct Therapy</h6>
                  <div class="emr-coming-soon emr-card">
                    <p class="emr-coming-soon-text">coming soon</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row g-0">
        <div class="offset-lg-9 col-lg-3 emr-sidebar emr-sidebar-r">
          <div class="emr-right-sidebar emr-column">
            <div class="emr-quick-info-card emr-right-sidebar-item">
              <div class="emr-icon-bg emr-icon-bg-dark">
                <i class="bi bi-lightbulb-fill emr-icons emr-center-icon"></i>
              </div>
              <p class="emr-quick-info-card-title">Diagnosis</p>
              <p class="emr-quick-info-card-details">Recurrent seizures secondary to falcine meningioma</p>
            </div>
            <div class="emr-right-sidebar-item">
              <h6 class="emr-card-headers emr-right-sidebar-item-header">Last Notes</h6>
              <div class="emr-right-sidebar-item-content">
                <textarea name="consultation_notes" id="consultation" class="emr-right-sidebar-item-textbox">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis 
                </textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </main>
</body>

</html>