<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="stylesheet" href="../css/nav.css">
  <link rel="stylesheet" href="../css/app.css">
  <link rel="stylesheet" href="../css/patient.css">
  <link rel="stylesheet" href="../css/history.css">
  <!-- The title must always reflect the current action or page -->
  <title>Bolatito Adebisi</title>
  <!-- Patient name goes here plus section of clerking -->
</head>

<body>
  <nav>
    <NavComponent></NavComponent>
  </nav>
  <main>
    <div class="container-fluid">
      <div class="row g-0">
        <div class="col-lg-3 emr-sidebar emr-sidebar-l">
          <LeftSideBarComponent></LeftSideBarComponent>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row g-0">
        <div class="offset-xl-3 col-xl-6">
          <!-- This is a list of the tabs controlling the various history sections of the app -->
          <TabComponent></TabComponent>
          <MainContentComponent></MainContentComponent>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row g-0">
        <div class="offset-lg-9 col-lg-3 emr-sidebar emr-sidebar-r">
          <RightSideBarComponent></RightSideBarComponent>
        </div>
      </div>
    </div>
  </main>
</body>

</html>